// includes
@import 'bootstrap';
@import 'variables';
@import 'base/footer';
@import 'base/header';
@import 'base/navigation';

// @import url('');

// global styles
body {

}

html {

}

// styles

.bg {
  color: $white;

  &-green {
    background-color: $green;
  }

  &-darkgreen {
    background-color: $darkgreen;
  }

  &-darkgray {
    background-color: $gray-800;
  }
}
